.gmeter {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}

.crosshairs {
    background-color: black;
    position: relative;
    box-shadow: 0 0 1px #000000;
}

.g-ring {
    background-color: white;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid black;
}

.label {
    font-size: 12px;
}

#meter-holder {
    top: -29px;
    left: -10px;
}

#half-g {
    position: relative;
    top: -359px;
    left: 170px;

}

#one-g {
    position: relative;
    top: -359px;
    left: 169px;

}

#crosshairs-vertical {
    height: 218px;
    width: 3px;
    left: 111px;
    top: -222px;
}

#crosshairs-horizontal {
    height: 3px;
    width: 217px;
    top: -350.5px;
    left: 4px;

}

#g-diameter {
    height: 226px;
    width: 226px;
    box-shadow: inset 0 0 2px #000000;
    border-color: #cccccc;
}

#middle-ring {
    position: relative;
    height: 169.5px;
    width: 169.5px;
    top: 25.25px;
    left: 25.25px;
    box-shadow: 0 0 2px #000000;
}

#inner-ring {
    height: 113px;
    width: 113px;
    position: relative;
    top: 25.25px;
    left: 25.25px;
    box-shadow: 0 0 2px #000000;
}

#cursor {
    background-color: #EF0723;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    left: 105px;
    top: 76px;
    position: absolute;
    background: radial-gradient(circle at 5px 5px, #EF0723, rgb(53, 0, 0));
    /* box-shadow: 0 0 2px #000000; */
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
