* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* html { 
	cursor: none;
} */

::-webkit-scrollbar {
    display: none;
}

.slider {
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
section {
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}

div{
    display: inline-block;
}

h1 {
    font-size: 50px;
}

#gauges {
	/* background: rgb(0,0,0);
	background: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(149,0,189,1) 100%); */
	background: linear-gradient(121deg, #6600aa, #260e36);
	background-size: 400% 400%;
	
	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;
		
}

@-webkit-keyframes AnimationName {
	0%{background-position:0% 13%}
	50%{background-position:100% 88%}
	100%{background-position:0% 13%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 13%}
	50%{background-position:100% 88%}
	100%{background-position:0% 13%}
}
@keyframes AnimationName {
	0%{background-position:0% 13%}
	50%{background-position:100% 88%}
	100%{background-position:0% 13%}
}

#chart {

}

.gauge {
	position: relative;
	top: -20px;
}

#gauge-fuel, #gauge-o2, #gauge-rpm {
	position: relative;
	top: -40px;
} 