* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slider {
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
section {
	border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-y: hidden;
}

div{
    display: inline-block;
}

h1 {
    font-size: 50px;
}

#gauges {
	background: rgb(0,0,0);
	background: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(201,0,255,1) 100%);
}

#gauge-fuel, #gauge-o2, #gauge-rpm {
	position: relative;
	top: -20px;
} 