.readout {
    height: 50px;
    width: 90px;
    background-color: white;
    transition: background-color 1.5s linear;
    border: 3px solid black;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    box-shadow: inset 2px 2px 2px rgba(30,30,30,.4), 2px 2px 2px rgba(30,30,30,.4);
}

.readout.night {
    background-color: black;
}



.number-display {
    width: 85px;
    height: 32px;
    padding-right: 3px;
    top: -2px;
    position: relative;
    text-align: right;
    font-size: 33px;
    color: black;
    transition: color 1.5s linear;
    font-weight: 200;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(30,30,30,.3);
}

.number-display.night {
    color: white;
}

.readout-label {
    position: relative;
    top: -9px;
    left: 2px;
    font-size: 12px;
    color: black;
    transition: color 1.5s linear;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(30,30,30,.3);
}

.readout-label.night {
    color: white;
}

.color-corner {
    position: relative;
    height: 10px;
    width: 10px;
    top: -19.5px;
    left: 74px;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
}

#oil-psi-readout-indicator {
    background-color: #FFAA00;;
}

#boost-readout-indicator {
    background-color: #8AE800;
}

#rpm-readout-indicator {
    background-color: #00A7EA;
}

#o2-readout-indicator {
    background-color:#7734EA;
}

#temp-readout-indicator {
    background-color: #FF2929;
}

#g-readout-indicator {
    background-color: #949494;
}



#oil-psi-readout {
    border-color: #FFAA00;;
}

#boost-readout {
    border-color: #8AE800;
}

#rpm-readout {
    border-color: #00A7EA;
}

#o2-readout {
    border-color:#7734EA;
}

#temp-readout {
    border-color: #FF2929;
}

#g-readout {
    border-color: #949494;
}
